#propertyAddress {
  max-width: 600px;
}

.purchase_group {
  & > div:not(:first-child) {
    margin-left: 24px;

    // Small devices (landscape phones, 576px and up)
    @media (max-width: 767.98px) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  & > div:first-child {
    max-width: 162px;
  }

  & > div:nth-child(2) {
    max-width: 128px;
  }

  & > div:nth-child(3) {
    width: 262px;
    // Small devices (landscape phones, 576px and up)
    @media (max-width: 767.98px) {
      width: 100% !important;
    }
  }

  & > div {
    // Small devices (landscape phones, 576px and up)
    @media (max-width: 767.98px) {
      max-width: 100% !important;
    }
  }
}

.sale_group {
  & > div:not(:first-child) {
    margin-left: 24px;

    // Small devices (landscape phones, 576px and up)
    @media (max-width: 767.98px) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  & > div:first-child {
    max-width: 162px;
  }

  & > div:last-child {
    max-width: 128px;
  }

  & > div {
    // Small devices (landscape phones, 576px and up)
    @media (max-width: 767.98px) {
      max-width: 100% !important;
    }
  }
}

.track-record_form .form-group {
  margin-bottom: 24px;
}

.form-number {
  position: relative;
  right: 20px;
  top: 20px;
  color: #939BA3;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767.98px) {
    right: 0;
    top: 0;
  }
}

.btn-next {
  cursor: pointer;
  background: #198CFF;
  border-radius: 8px;
  color: white;
  max-width: 244px;
  padding: 15px 20px;
}

.delete_button {
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px #FFFFFF;

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767.98px) {
    position: absolute;
    top: -63%;
    right: 0;
  }

  &_margin {
    margin-left: 16px;
    margin-top: 42px;
  }
}
