<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column text_title__margin">
        <h1 class="title_margin">Track Record</h1>
        <p class="text-basic mb-0">Please provide the details of your recent similar deal.</p>
      </div>
      <form [formGroup]="form" class="track-record_form">
        <!--
          Доступ к полям валидации осуществляется по следующему пути:
          form.get('allForms').get(i.toString()).get('purchase').get('purchaseDate')
          * allForms - массив форм
          * i.toString() - индекс формы
          * purchase - дочерняя группа формы
          * purchaseDate - formControlName
        -->
        <div formArrayName="allForms" *ngFor="let formItem of getAllForms.controls; let i = index;">
        <div class="form-group" [formGroupName]="i">
          <span class="form-number">{{ formItem['counter'] }}</span>
          <div class="form-group">
            <div class="col-12">
              <div class="row flex-column">
                <label for="propertyAddress">Property address</label>
                <input autocomplete="off"
                       [ngClass]="{'is-invalid': form.get('allForms').get(i.toString()).get('propertyAddress').invalid
                                  && form.get('allForms').get(i.toString()).get('propertyAddress').touched}"
                       formControlName="propertyAddress" type="text" class="form-control" id="propertyAddress" placeholder="Enter address">
                <div *ngIf="form.get('allForms').get(i.toString()).get('propertyAddress').invalid
                        && form.get('allForms').get(i.toString()).get('propertyAddress').touched" class="invalid-feedback">
                  <span *ngIf="form.get('allForms').get(i.toString()).get('propertyAddress').errors.required">This field is required.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" formGroupName="purchase">
            <div class="col-12">
              <div class="row flex-column flex-md-row purchase_group">
                <div class="d-flex flex-column">
                  <label for="purchaseDate">Purchase date</label>
                  <input autocomplete="off"
                         [ngClass]="{'is-invalid': form.get('allForms').get(i.toString()).get('purchase').get('purchaseDate').invalid
                                  && form.get('allForms').get(i.toString()).get('purchase').get('purchaseDate').touched}"
                         formControlName="purchaseDate" type="text" class="form-control" id="purchaseDate" placeholder="Date">
                  <div *ngIf="form.get('allForms').get(i.toString()).get('purchase').get('purchaseDate').invalid
                        && form.get('allForms').get(i.toString()).get('purchase').get('purchaseDate').touched" class="invalid-feedback">
                    <span *ngIf="form.get('allForms').get(i.toString()).get('purchase').get('purchaseDate').errors.required">This field is required.</span>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <label for="purchasePrice">Purchase price</label>
                  <input autocomplete="off"
                         [ngClass]="{'is-invalid': form.get('allForms').get(i.toString()).get('purchase').get('purchasePrice').invalid
                                  && form.get('allForms').get(i.toString()).get('purchase').get('purchasePrice').touched}"
                         formControlName="purchasePrice" type="text" class="form-control" id="purchasePrice" placeholder="Price">
                  <div *ngIf="form.get('allForms').get(i.toString()).get('purchase').get('purchasePrice').invalid
                        && form.get('allForms').get(i.toString()).get('purchase').get('purchasePrice').touched" class="invalid-feedback">
                    <span *ngIf="form.get('allForms').get(i.toString()).get('purchase').get('purchasePrice').errors.required">This field is required.</span>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <label for="rehab">Rehab budget used</label>
                  <input autocomplete="off"
                         [ngClass]="{'is-invalid': form.get('allForms').get(i.toString()).get('purchase').get('rehab').invalid
                                  && form.get('allForms').get(i.toString()).get('purchase').get('rehab').touched}"
                         formControlName="rehab" type="text" class="form-control" id="rehab" placeholder="Rehab budget used">
                  <div *ngIf="form.get('allForms').get(i.toString()).get('purchase').get('rehab').invalid
                        && form.get('allForms').get(i.toString()).get('purchase').get('rehab').touched" class="invalid-feedback">
                    <span *ngIf="form.get('allForms').get(i.toString()).get('purchase').get('rehab').errors.required">This field is required.</span>
                  </div>
                </div>
                <svg
                  *ngIf="i > 0" (click)="removeForm(i)"
                  class="d-block delete_button delete_button_margin" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="15.1816" y="7.3999" width="2" height="11" rx="0.5" transform="rotate(45 15.1816 7.3999)" fill="#222222"/>
                  <rect x="7.4043" y="8.81396" width="2" height="11" rx="0.5" transform="rotate(-45 7.4043 8.81396)" fill="#222222"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="form-group" formGroupName="sale">
            <div class="col-12">
              <div class="row flex-column flex-md-row sale_group">
                <div class="d-flex flex-column">
                  <label for="saleDate">Sale date</label>
                  <input autocomplete="off"
                         [ngClass]="{'is-invalid': form.get('allForms').get(i.toString()).get('sale').get('saleDate').invalid
                                  && form.get('allForms').get(i.toString()).get('sale').get('saleDate').touched}"
                         formControlName="saleDate" type="text" class="form-control" id="saleDate" placeholder="Date">
                  <div *ngIf="form.get('allForms').get(i.toString()).get('sale').get('saleDate').invalid
                        && form.get('allForms').get(i.toString()).get('sale').get('saleDate').touched" class="invalid-feedback">
                    <span *ngIf="form.get('allForms').get(i.toString()).get('sale').get('saleDate').errors.required">This field is required.</span>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <label for="salePrice">Sale price</label>
                  <input autocomplete="off"
                         [ngClass]="{'is-invalid': form.get('allForms').get(i.toString()).get('sale').get('salePrice').invalid
                                  && form.get('allForms').get(i.toString()).get('sale').get('salePrice').touched}"
                         formControlName="salePrice" type="text" class="form-control" id="salePrice" placeholder="Price">
                  <div *ngIf="form.get('allForms').get(i.toString()).get('sale').get('salePrice').invalid
                        && form.get('allForms').get(i.toString()).get('sale').get('salePrice').touched" class="invalid-feedback">
                    <span *ngIf="form.get('allForms').get(i.toString()).get('sale').get('salePrice').errors.required">This field is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </form>

      <button class="btn text-basic" type="button" (click)="addDeal()">
          <span class="d-flex justify-content-center align-items-center">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 14px">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 0C6.22386 0 6 0.223857 6 0.5V6H0.5C0.223858 6 0 6.22386 0 6.5L0 7.5C0 7.77614 0.223857 8 0.5 8H6V13.5C6 13.7761 6.22386 14 6.5 14H7.5C7.77614 14 8 13.7761 8 13.5V8H13.5C13.7761 8 14 7.77614 14 7.5V6.5C14 6.22386 13.7761 6 13.5 6H8V0.5C8 0.223858 7.77614 0 7.5 0L6.5 0Z" fill="#198CFF"/>
            </svg>
            Add deal
          </span>
      </button>

      <div class="btn-next text-basic mb-5" style="margin-top: 48px;" (click)="next()">
        <div class="d-flex justify-content-between align-items-center">
          <div>Next</div>
          <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9804 8.64638C11.1757 8.84165 11.1757 9.15823 10.9804 9.35349L2.74473 17.5892C2.54947 17.7845 2.23288 17.7845 2.03762 17.5892L0.85911 16.4107C0.663848 16.2154 0.663848 15.8988 0.85911 15.7036L7.56275 8.99994L0.85911 2.2963C0.663848 2.10104 0.663848 1.78446 0.85911 1.58919L2.03762 0.410682C2.23288 0.21542 2.54947 0.215421 2.74473 0.410683L10.9804 8.64638Z" fill="white"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
