<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column text_title__margin">
        <h1 class="title_margin">Phone book</h1>
        <p class="text-basic mb-0">Your contacts.</p>
      </div>

      <div class="d-lg-flex d-md-inline-flex">
        <div class="d-flex flex-column flex-md-row d-md-block mr-auto">
          <button class="btn text-basic mb-4" (click)="addFormVisible = !addFormVisible">
            <span class="d-flex justify-content-center align-items-center">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check-fill text-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span class="d-block ml-2">Add new contact</span>
            </span>
          </button>
        </div>
        <div class="d-flex flex-column d-md-block">
          <button class="btn text-basic mb-4 ml-md-4" (click)="getContacts()">
            <span class="d-flex justify-content-center align-items-center">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
              </svg>
              <span class="d-block ml-2">All contacts</span>
            </span>
          </button>
          <button class="btn text-basic mb-4 ml-0 ml-md-4" (click)="filterByFavorite('favorite', true)">
            <span class="d-flex justify-content-center align-items-center">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg>
              <span class="d-block ml-2">Filter by Favorite</span>
            </span>
          </button>
        </div>
      </div>

      <div *ngIf="addFormVisible">
        <form class="mb-3" [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="fullName">Full name</label>
            <input formControlName="fullName"
                   [ngClass]="{'is-invalid': form.get('fullName').invalid && form.get('fullName').touched}"
                   autocomplete="off" type="text" class="form-control" id="fullName" placeholder="Enter full name">
            <div *ngIf="form.get('fullName').invalid && form.get('fullName').touched" class="invalid-feedback">
              <span *ngIf="form.get('fullName').errors.required">This field is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input formControlName="phoneNumber"
                   [ngClass]="{'is-invalid': form.get('phoneNumber').invalid && form.get('phoneNumber').touched}"
                   autocomplete="off" type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number">
            <div *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched" class="invalid-feedback">
              <span *ngIf="form.get('phoneNumber').errors.required">This field is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <input formControlName="comment"
                   [ngClass]="{'is-invalid': form.get('comment').invalid && form.get('comment').touched}"
                   autocomplete="off" type="text" class="form-control" id="comment" placeholder="Enter comment">
            <div *ngIf="form.get('comment').invalid && form.get('comment').touched" class="invalid-feedback">
              <span *ngIf="form.get('comment').errors.required">This field is required.</span>
            </div>
          </div>
          <div class="form-check">
            <input formControlName="favorite" class="form-check-input" type="checkbox" value="" id="favorite">
            <label class="form-check-label" for="favorite">
              Favorite
            </label>
          </div>

          <button class="btn text-basic my-3" type="submit" [disabled]="form.invalid">Add contact</button>
        </form>
      </div>

      <div class="table-responsive border rounded mb-3">
        <table class="table table-hover" style="margin-bottom: 0">
          <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">Full name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Created date</th>
            <th scope="col">Comment</th>
            <th scope="col">Favorite</th>
            <th scope="col">Panel</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let contact of contacts">
            <td>{{ contact.fullName }}</td>
            <td>{{ contact.phoneNumber }}</td>
            <td>{{ contact.created }}</td>
            <td>{{ contact.comment }}</td>
            <td>
              <svg *ngIf="contact.favorite" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-star-fill text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
              </svg>
            </td>
            <td id="remove_contact">
              <svg (click)="showEditContactForm(contact.id)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square text-black mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              <svg (click)="removeContact(contact.id)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
