<header>
  <div class="container">
    <div class="row">
      <nav class="col-12 header_title header_title__padding">
        <a [routerLink]="['/']">Телефонная книга</a>
        <a [routerLink]="['/track-record']" class="ml-4">Track Record</a>
      </nav>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
