<div class="container">
  <div class="row">
    <div class="col-12">
        <form class="mb-3" [formGroup]="form" (ngSubmit)="submit()" *ngIf="!loading">
          <div class="form-group">
            <label for="fullName">Full name</label>
            <input formControlName="fullName"
                   [ngClass]="{'is-invalid': form.get('fullName').invalid && form.get('fullName').touched}"
                   autocomplete="off" type="text" class="form-control" id="fullName" placeholder="Enter full name">
            <div *ngIf="form.get('fullName').invalid && form.get('fullName').touched" class="invalid-feedback">
              <span *ngIf="form.get('fullName').errors.required">This field is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input formControlName="phoneNumber"
                   [ngClass]="{'is-invalid': form.get('phoneNumber').invalid && form.get('phoneNumber').touched}"
                   autocomplete="off" type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number">
            <div *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched" class="invalid-feedback">
              <span *ngIf="form.get('phoneNumber').errors.required">This field is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <input formControlName="comment"
                   [ngClass]="{'is-invalid': form.get('comment').invalid && form.get('comment').touched}"
                   autocomplete="off" type="text" class="form-control" id="comment" placeholder="Enter comment">
            <div *ngIf="form.get('comment').invalid && form.get('comment').touched" class="invalid-feedback">
              <span *ngIf="form.get('comment').errors.required">This field is required.</span>
            </div>
          </div>
          <div class="form-check">
            <input formControlName="favorite" class="form-check-input" type="checkbox" value="" id="favorite">
            <label class="form-check-label" for="favorite">
              Favorite
            </label>
          </div>

          <button class="btn text-basic my-3" type="submit" [disabled]="form.invalid">Change contact</button>
          <button class="btn text-basic ml-3" type="button" [routerLink]="['/']">Cancel</button>
        </form>
    </div>
  </div>
</div>
