@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import "~bootstrap";

$bg-color: #F2F3F7;
$text-color: #222222;
$black: #000000;

body {
  font-family: 'Montserrat', sans-serif;
  background: $bg-color;
}

header {
  padding-top: 13px;
  background: $bg-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

main {
  padding-top: 37px;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $black;
  margin-bottom: 0;
}

.font-basic-style {
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
}

.title_margin {
  margin-bottom: 16px;
}

.text-basic {
  @extend .font-basic-style;
  font-weight: 500;
}

.text_title__margin {
  margin-bottom: 28px;
}

.header_title > a {
  @extend .font-basic-style;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

.header_title__padding {
  padding-top: 18px;
  padding-bottom: 18px;
}

.btn {
  padding: 15px 16px;
  background: $bg-color;
  border-radius: 8px;
  outline: none;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px #FFFFFF;

  &:focus, &:hover {
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.7), -6px -6px 16px #FFFFFF;
  }
}

.form-control {
  background: $bg-color;
  border: 1px solid #CCD4E7;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 20px;
  height: 48px;
  color: $text-color;
  font-weight: 500;

  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #939BA3;
  }

  &:focus {
    color: $text-color;
    background-color: $bg-color;
  }
}

.form-group label {
  @extend .text-basic;
  font-weight: 600;
  color: $black;
  margin-bottom: 12px;
}

input[type="text"]::-ms-value {
  color: $black;
}
